/* Sidebar properties */
#properties {
    position: absolute;
    top: 65px;
    left: 0;
    width: 300px;
    height: 100%;
    background: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    z-index: 1000;
}

/* Header của properties */
#properties-header {
    background: #0078d7;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Nội dung bên trong Properties */
#properties-content {
    padding: 10px;
}

/* Khi thu gọn sidebar */
#properties.collapsed {
    transform: translateX(-100%);
}

/* Nút toggle của properties side */
#toggle-properties-btn {
    position: absolute;
    top: 65px;
    left: 310px;
    z-index: 1100;
    background: #0078d7;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#toggle-properties-btn.collapsed {
    left: 10px;
}
