<div id="layers" class="collapsed">
    <div id="layers-header">Layers</div>
    <div id="layers-content">
        <p>Base Map</p>
        <ul>
            <li><input type="checkbox" id="Open Street Map" checked /> Open Street Map</li>
            <li><input type="checkbox" id="Esri World Imagery" checked/> Esri World Imagery</li>
        </ul>
        <p>GeoJSON Layers</p>
        <ul>
            <li><input type="checkbox" id="vqgtramchim" checked /> Vườn Quốc gia Tràm Chim</li>
            <li><input type="checkbox" id="dongthap_caphuyen" checked /> Cấp huyện, Đồng Tháp</li>
            <li><input type="checkbox" id="dongthap" checked /> Tỉnh Đồng Tháp</li>
            <li><input type="checkbox" id="provinces" checked /> Các tỉnh, thành</li>
            <li><input type="checkbox" id="vietnam" checked /> Việt Nam</li>
        </ul>
    </div>
</div>